<div th:fragment="footerJS">
    <script src="#" th:src="@{/assets/libs/jquery/jquery-1.11.1.min.js}"></script>
    <script src="#" th:src="@{/assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js}"></script>
    <script src="#" th:src="@{/assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js}"></script>
    <script src="#" th:src="@{/assets/libs/bootstrap/js/bootstrap.min.js}"></script>
    <script src="#" th:src="@{/assets/libs/jquery-detectmobile/detect.js}"></script>
    <script src="#" th:src="@{/assets/libs/jquery-animate-numbers/jquery.animateNumbers.js}"></script>
    <script src="#" th:src="@{/assets/libs/ios7-switch/ios7.switch.js}"></script>
    <script src="#" th:src="@{/assets/libs/fastclick/fastclick.js}"></script>
    <script src="#" th:src="@{/assets/libs/jquery-blockui/jquery.blockUI.js}"></script>
    <script src="#" th:src="@{/assets/libs/bootstrap-bootbox/bootbox.min.js}"></script>
    <script src="#" th:src="@{/assets/libs/jquery-slimscroll/jquery.slimscroll.js}"></script>
    <script src="#" th:src="@{/assets/libs/jquery-sparkline/jquery-sparkline.js}"></script>
    <script src="#" th:src="@{/assets/libs/nifty-modal/js/classie.js}"></script>
    <script src="#" th:src="@{/assets/libs/nifty-modal/js/modalEffects.js}"></script>
    <script src="#" th:src="@{assets/libs/sortable/sortable.min.js}"></script>
    <script src="#" th:src="@{/assets/libs/bootstrap-fileinput/bootstrap.file-input.js}"></script>
    <script src="#" th:src="@{/assets/libs/bootstrap-select/bootstrap-select.min.js}"></script>
    <script src="#" th:src="@{/assets/libs/bootstrap-select2/select2.min.js}"></script>
    <script src="#" th:src="@{/assets/libs/magnific-popup/jquery.magnific-popup.min.js}"></script>
    <script src="#" th:src="@{/assets/libs/pace/pace.min.js}"></script>
    <script src="#" th:src="@{/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
    <script src="#" th:src="@{/assets/libs/jquery-icheck/icheck.min.js}"></script>
    <script src="#" th:src="@{/assets/libs/prettify/prettify.js}"></script>
    <script src="#" th:src="@{/assets/js/init.js}"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="#" th:src="@{/assets/libs/jquery-datatables/js/dataTables.bootstrap.js}"></script>
    <script src="#"
            th:src="@{/assets/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js}"></script>
    <script src="#" th:src="@{/assets/js/pages/datatables.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>
</div>