<div th:fragment="headerCSS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="description" content="">
    <meta name="keywords" content="coco bootstrap template, coco admin, bootstrap,admin template, bootstrap admin,">
    <meta name="author" content="Huban Creative">

    <!-- Base Css Files -->
    <link href="#" th:href="@{/assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/libs/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/libs/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/libs/fontello/css/fontello.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/libs/animate-css/animate.min.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/libs/nifty-modal/css/component.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/libs/magnific-popup/magnific-popup.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/libs/ios7-switch/ios7-switch.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/libs/pace/pace.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/libs/sortable/sortable-theme-bootstrap.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/libs/bootstrap-datepicker/css/datepicker.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/libs/jquery-icheck/skins/all.css}" rel="stylesheet"/>
    <!-- Code Highlighter for Demo -->
    <link href="#" th:href="@{/assets/libs/prettify/github.css}" rel="stylesheet"/>

    <link href="#" th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/assets/css/style-responsive.css}" rel="stylesheet"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</div>