<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorator="Layout">
<head>
    <meta charset="UTF-8"/>
    <title>Forus | Volumetría de Productos</title>
    <div th:replace="fragments/header :: headerCSS"></div>
</head>
<body class="fixed-left login-page">

<div id="wrapper">
    <div class="topbar">
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-collapse2">
                    <ul class="nav navbar-nav hidden-xs">
                        <li>
                            <a href="#" th:href="@{/}" style="padding-top: 10px;">
                                <img src="#" th:src="@{/assets/img/logo_forus.png}" th:width="100" alt="Logo"/>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right top-navbar">
                        <li class="dropdown iconify hide-phone">
                            <a href="#" onclick="toggle_fullscreen()">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</div>

<div id="adminComponent"></div>

<!--<div class="full-content-center">
    <div class="widget">
        <div class="widget-header">
            <h2 class='text-left'>
                <strong>SKU</strong> repetidos
            </h2>
            <div class="additional-btn">
                <a href="#" class="widget-toggle">
                    <i class="icon-down-open-2"></i>
                </a>
            </div>
        </div>
        <div class="widget-content padding">
            <br/>
            <div class="table-responsive text-justify">
                <form class='form-horizontal' role='form'>
                    <table id="tableDuplicatedSku"
                           class='table table-striped table-bordered display nowrap'
                    style='width: 100%;'>
                    </table>
                </form>
            </div>
        </div>
    </div>-->


<!--    <div class="modal fade" id="authModal" tabIndex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><strong>Necesitas permisos de
                        supervisor</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class={'pull-left'}>Usuario:</label>
                        <input type="text"
                               onChange={this.handleUser}
                               value={this.state.user}
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class={'pull-left'}>Contraseña</label>
                        <input type="password"
                               onChange={this.handlePassword}
                               value={this.state.password}
                               class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">Cancelar
                    </button>
                    <button type="button"
                            onClick={this.handleAuth}
                            class="btn btn-primary">Autenticar
                    </button>
                </div>
            </div>
        </div>
    </div>-->
<!--</div>-->

<div th:replace="fragments/footer :: footerJS"></div>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="#" th:src="@{/assets/js/scripts/react/admin.js}" type="text/jsx"></script>
<!--<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    let context = [[@{/}]];
    let dataSet = [[${data}]];

    /*]]>*/

    $('[data-toggle="tooltip"]').tooltip();

    $('#tableDuplicatedSku').DataTable({
        data: dataSet,
        language: {
            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        },
        ordering: true,
        dom: 'Bfrtip',
        columns: [
            {
                title: 'SKU'
            },
            {
                title: 'LARGO'
            },
            {
                title: 'ANCHO'
            },
            {
                title: 'VOLUMEN'
            },
            {
                title: 'PESO'
            },
            {
                title: 'VOL. PESO'
            },
            {
                title: 'CONTENEDOR'
            },
            {
                title: 'FECHA DE CREACIÓN',
                render: function (data) {
                    return "<span>" + moment(data).format('l') + "</span>";
                }
            },
            {
                title: 'UNIDADES CAJA'
            },
            {
                title: 'ALTURA'
            },
            {
                title: 'Nº TAG'
            },
            {
                title: 'ACCIONES',
                render: function (data, row, value) {
                    return (
                        "<div class='btn-group btn-group-xs'>" +
                        "<span>" +
                        "<button type='button' data-toggle='tooltip' data-placement='top' title='Mostrar original' class='btn btn-xs btn-default'>" +
                        "<i class='fa fa-eye'></i>" +
                        "</button>" +
                        "</span>" +
                        "<span data-toggle='modal' data-target='#authModal' >" +
                        "<button type='button' data-toggle='tooltip' data-placement='top' title='Reemplazar' class='btn btn-xs btn-success'>" +
                        "<i class='fa fa-check'></i>" +
                        "</button>" +
                        "</span>" +
                        "<span data-toggle='modal' data-target='#authModal'>" +
                        "<button type='button' data-toggle='tooltip' data-placement='top' title='Descartar' class='btn btn-xs btn-danger'>" +
                        "<i class='fa fa-remove'></i>" +
                        "</button>" +
                        "</span>" +
                        "</div>"
                    );
                }
            }
        ]
    });
</script>-->
</body>
</html>